/* CSS declarations go here */

body {
  background-color: #BAB8B8;
}

.product {
  border: 1px black;
}

.product-price {
  background-color: #90C3D4;
  color: white;
  padding: 10px;
}

.product-description {
  background-color: white;
}

.product-picture {
  background-color: white;
}
.product-name {
  font-size: 14px;
  font-weight: bolder;
  background-color: white;
}

.product-picture img {
    max-height: 100%;
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}
